
.Projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #C9E3AC;
    background-size: cover;
    margin: 0;
}
.singleProject{
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
    border-radius: 3px;
    height: 300px
}
.projectDescription{
    display: none;
    opacity: 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 400px;
}
.projectImage{
    height: 300px;
    width: 400px;
}

.singleProject:hover .projectDescription{
    display: block;
    padding-top: 25px;
   transition: opacity .5s ease-in;
   opacity: 1;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 400px;
}
.singleProject:hover .projectImage{
    display: none;
}

a.button1{
    display: none;
}
.singleProject:hover a.button1{
    display: inline-block;
    background-color:#000000;
    color:#FFFFFF;
    padding:0.35em 1.2em;
    border:0.1em solid #C9E3AC;
    margin:.5em 0.3em 0.3em 7.5em;
    border-radius:5.0em;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    }
    /* @media all and (max-width:30em){
     a.button1{
      display:block;
      margin:0.4em auto;
     }
    } */