.homePage{
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.profileCard{
    height: 50%;
    width: 35%;
    border-radius: 3px;
    background-color: #F7B2AD;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}
#profilePicture{
    height: 70%;
    width: 70%;
   
    margin: 5px;

}
.standard-btn-1{
    background: url('../../images/floralbg7.jpg');
    height: 80px;
    width: 100px;
}
