.Nav{
    top: 0;  
    width: 100%;
    background: url('../../images/floralbg7.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: space-around;
    height: 75px;
}
.options{
    display: flex;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    color:  #009FFD;
    font-family: 'Amatic SC', cursive;
    border-radius: 3px;
    background-color:  #ffffff;
}

a{
    text-decoration: none;
    color:  #009FFD;
    font-family: 'Amatic SC', cursive;
}
.Nav-Item{
    text-align: right;
    font-size: 50px;
    margin: 0;
  
}