.Nav{
    top: 0;  
    width: 100%;
    background: url('../../images/floralbg7.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: space-around;
    height: 75px;
}
.options{
    display: flex;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    color:  #009FFD;
    font-family: 'Amatic SC', cursive;
    border-radius: 3px;
    background-color:  #ffffff;
}

.Nav-Item{
    text-decoration: none;
    color:  #009FFD;
    font-family: 'Amatic SC', cursive;
}
a{
    text-decoration: none;
    color:  #009FFD;
    font-family: 'Amatic SC', cursive;
}

@media only screen and (max-width: 600px) {
   
    .Nav-Links{
        color:  #009FFD;
        font-family: 'Amatic SC', cursive;
        font-size: 10px
    }
   .Nav-Item{
        text-decoration: none;
        color:  #009FFD;
        font-family: 'Amatic SC', cursive;
        height: 100%;
        width: 27%;
        margin: 0;
    }
    .Nav{
        display: flex;
        justify-content: center;
    }

    .options{
        color:  #009FFD;
        font-family: 'Amatic SC', cursive;
        border-radius: 3px;
        background-color:  #ffffff;
        margin-bottom: 5px;
    }
}